@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html, body
{
    width: 100%;
}

body {
    background-color: gainsboro;
  background: url("../images/fond.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: 
    width:100%;
margin:0px;
}

a {
    text-decoration: none; 
    color: white;
}

.color {
    width: 50px;
    height: 50px;
    background-color: #2E88E9;
    color: WHITE;
    padding: 7px;
    border-radius: 50%;
    margin-left: 3px;
}






h1 {
    font-family: Lobster;
    font-size: 50px;
    float: right;
    text-shadow: 2px 0 0 #2E88E9, -2px 0 0 #2E88E9, 0 2px 0 #2E88E9, 0 -2px 0 #2E88E9, 1px 1px #2E88E9, -1px -1px 0 #2E88E9, 1px -1px 0 #2E88E9, -1px 1px 0 #2E88E9;

}

header {
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png");
    height: 120px;
    z-index: 9;
     border-bottom: 2px solid #2E88E9;
    padding-left: 10%;
     padding-right: 10%;
    width: 80%;
}

nav {
    width: 70%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Fredoka One;
    color: white;
    margin-top: 43px;
    position: absolute;
    margin-left: -2%;
}
nav ul li {
    display: inline-block;
    color: white;
    margin-right: 5%;
    
}

#photo-fond {
    background-image: url('../images/fusee.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin-top: 40px;
    z-index: 1;
    border: 2px solid #2E88E9;
    border-radius: 8px;
    width: 80%;
     margin-left: auto;
    margin-right: auto;
}

h2 {
    text-transform: uppercase;
     margin-top: 80px;
    position: ;
    text-align: left;
    text-transform: uppercase;
    width: 50%;
	background-color:#444444;
	border-radius:5px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:10px 42px;
	text-decoration:none;
    opacity: 0.7;
    float: right;
}

.button-1 {
    margin-top: 180px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	background-color:red;
	border-radius:5px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 42px;
	text-decoration:none;
    opacity: 0.7;
}
.button-1:hover {
	background-color:#b34332;
}

#actualites{
     
    width: 100%;
     text-align: center;
    background-color: #FFBE00;
    border-top: 2px solid #2E88E9;
    border-bottom: 2px solid #2E88E9;
    margin-top: 30px;
    
    margin-bottom: 30px;
  
 
}

.actualites-1{
    background-image: url('../images/exercice-4/inauguration.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25%;
    background-position-x: center;
    background-position-y: 44px;
    border-left: 2px solid #2E88E9;
    border-right: 2px solid #2E88E9;
       transform: skewX(-5deg);
    margin-left: -50px;
}

.actualites-2{
    background-image: url('../images/exercice-4/cafe.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25%;
    background-position-x: center;
    background-position-y: 44px;
    border-right: 2px solid #2E88E9;
         transform: skewX(-5deg);
}

.actualites-3{
    background-image: url('../images/exercice-4/ordi.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25%;
    background-position-x: center;
    background-position-y: 44px;
    border-right: 2px solid #2E88E9;
         transform: skewX(-5deg);
}

li p{
    margin-top: 50px;
    padding: 10px;
}

h4 {
    text-transform: uppercase;
}

#la-une {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
     text-align: center;  
   background-color: #99D1DE;
    border-top: 2px solid #2E88E9;
    border-left: 2px solid #2E88E9;
    border-right: 2px solid #2E88E9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

article a img{
  width: 94%; 
}



h3 {
    text-transform: uppercase;
    font-size: 30px;
}
#la-une p{
     margin-left: auto;
    margin-right: auto;
    width: 80%; 
}
article {
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

#archives {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
     text-align: center; 
     padding-bottom: 2%;
    margin-bottom: 50px;
      background-color: #99D1DE;
    border-bottom: 2px solid #2E88E9;
    border-left: 2px solid #2E88E9;
    border-right: 2px solid #2E88E9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#archives article {
     display: inline-block;
    width: 46%;
    height: 100%;
    margin-left: 0.7%;
     margin-right: 0.7%;
    margin-top: 20px;
}

footer {
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png");
    height: 330px;
    z-index: 9;
     border-top: 2px solid #2E88E9;
    padding-left: 10%;
     padding-right: 10%;
}

#footer-links ul:nth-child(1) {
    display: inline-block;
    width: 25%;
}

#footer-links ul:nth-child(2) {
    display: inline-block;
    width: 25%;
}

#footer-info {
    position: absolute;
     text-align: center; 
    width: 80%;
    margin-top: 260px;
}

#cta{
    margin-top: 0px; 
     width: 30%;
    float: right;
    margin-right: 10%;
}

footer .wrapper{
    width: 80%;
}

